<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anuncio</title>
</head>
<body>
    <h1>Nuevo Anuncio</h1>
    <form action="/guardar" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${nombreUsuario}" required><br><br>

        <label for="asunto">Asunto:</label>
        <input type="text" id="asunto" name="asunto" required><br><br>

        <label for="descripcion">Comentario:</label><br>
        <textarea id="descripcion" name="descripcion" rows="5" cols="40" required></textarea><br><br>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>